* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    height: 100vh;
    /* overflow-y: auto; */
    overflow-x: hidden;
    perspective: 10px;
}

.container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}

.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.background {
    transform: translateZ(-40px) scale(5);

}

.foreground {
    transform: translateZ(-20px) scale(3);
}

.head1 {
    position: relative;
    top: -10rem;
    font-size: 8rem;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0, 3);
    letter-spacing: 2px;
}

section {
    background-color: rgb(35, 35, 35);
    color: white;
    padding: 5rem 0;
}

.sechead {
    font-size: 3rem;
    padding-left: 150px;
}

.text {
    font-size: 1.2rem;
    padding: 0 10rem;
    margin: 5rem 0;

}

.bg {
    position: relative;
    width: 100%;
    background-attachment: fixed;
    height: 400px;
    background-position: center;
    background-size: cover;

}

.bg1 {
    background-image: url(sport-1.jpg);
}

.bg2 {
    background-image: url(sport-2.jpg);
}

.bg3 {
    background-image: url(sport-3.jpg);
}

.desc {

    text-align: center;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;

    font-weight: 600;
}